body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'MrsSaintDelafield';
  src: local('MrsSaintDelafield'), url(./fonts/MrsSaintDelafield-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'CormorantSC';
  src: local('CormorantSC'), url(./fonts/CormorantSC-Regular.ttf) format('truetype');
}
